# Build artifacts
dist/

# Packages
**/node_modules/

# Environment
.env
.env*.local
env

# Logs
**/logs/
*.log

# Editor
.vscode
.DS_Store

# Agents
.cache/
.screenshots/
.playwright-mcp/
.serena/
.claude/settings.local.json


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
